<div class="container">
  <div class="row">
    <div class="col-lg-5 col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h2 class="section-heading">Low Boil Recipe</h2>
      <p class="lead">This recipe is enough to feed 8 people. Add or Reduce quantity as needed.</p>
      <div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Ingredients</th>
              <th>Amount</th>
              <!-- <th>Cook Time</th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Shrimp</td>
              <td>5 pounds</td>
            </tr>
            <tr>
              <td>Crab Legs</td>
              <td>1 cluster per person</td>
            </tr>
            <tr>
              <td>Kielbasa</td>
              <td>5 pounds</td>
            </tr>
            <tr>
              <td>Clams</td>
              <td>5 pounds</td>
            </tr>
            <tr>
              <td>Mussels</td>
              <td>5 pounds</td>
            </tr>
            <tr>
              <td>Corn</td>
              <td>1 per person</td>
            </tr>
            <tr>
              <td>Lemon</td>
              <td>3 cut in half</td>
            </tr>
            <tr>
              <td>Celery</td>
              <td>5 sticks cut in half</td>
            </tr>
            <tr>
              <td><a href="http://www.amazon.com/McCormick-900444064-Mccormick-Cayenne-8-75-Ounce/dp/B006AWVI12/ref=sr_1_2_s_it?s=grocery&ie=UTF8&qid=1462280741&sr=1-2&keywords=cayenne+pepper" target="_blank">Cayenne Pepper</a></td>
              <td>1/4 cup</td>
            </tr>
            <tr>
              <td><a href="http://www.amazon.com/Slap-Ya-Mama-Seasoning-Seafood/dp/B0063VRWF6/ref=sr_1_21?s=grocery&ie=UTF8&qid=1449525114&sr=1-21&keywords=slap+ya+mama" target="_blank">Slap Ya Mama</a></td>
              <td>3 cups</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
      <%= image_tag 'boil_pot.jpg', :class => "img-responsive" %>
    </div>
  </div>
</div>
