<div class="container">

  <div class="row">
    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h2 class="section-heading">Cooking Instructions</h2>
      <h4><ol>
        <li>Fill 3/4 boil pot with water</li><br />
        <li>Put in lemon, celery, and all seasonings</li><br />
        <li>Wait for water to come to a complete boil</li><br />
        <li>Put in kielbasa, corn and potatoes</li><br />
        <li>Let cook for 15 minutes</li><br />
        <li>Put in clams and mussels</li><br />
        <li>Let cook for 15 minutes</li><br />
        <li>Put in crab legs</li><br />
        <li>Let cook for 8-10 minutes</li><br />
        <li>Put in shrimp</li><br />
        <li>Let cook 2-3 minutes</li><br />
        <li>Turn off propane tank</li><br />
        <li>Put in one full 10-pound bag of ice</li><br />
        <li>Let the food sit in the water for 25-30 minutes</li><br />
        <li>Pour food into clean cooler or on a table</li><br />
        <li>Enjoy!</li><br />
      </ol></h4>
    </div>
    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
      <%= image_tag 'davo_steve.jpg', :class => "img-responsive" %><br>
      <%= image_tag 'jav_camo.jpg', :class => "img-responsive" %>
    </div>
  </div>
</div>
