<div class="container">
  <div class="row">
    <div class="col-lg-5 col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h2 class="section-heading">Low Boil Recipe</h2>
      <p class="lead">This recipe is enough to feed 8 people. Add or Reduce quantity as needed.</p>
      <div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Ingredients</th>
              <th>Amount</th>
              <!-- <th>Cook Time</th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Shrimp</td>
              <td>5 pounds</td>
            </tr>
            <tr>
              <td>Crab Legs</td>
              <td>1 cluster per person</td>
            </tr>
            <tr>
              <td>Kielbasa</td>
              <td>5 pounds</td>
            </tr>
            <tr>
              <td>Clams</td>
              <td>5 pounds</td>
            </tr>
            <tr>
              <td>Mussels</td>
              <td>5 pounds</td>
            </tr>
            <tr>
              <td>Corn</td>
              <td>1 per person</td>
            </tr>
            <tr>
              <td>Lemon</td>
              <td>3 cut in half</td>
            </tr>
            <tr>
              <td>Celery</td>
              <td>5 sticks cut in half</td>
            </tr>
            <tr>
              <td>Cayenne Pepper</td>
              <td>1/4 cup</td>
            </tr>
            <tr>
              <td>Slap Ya Mama</td>
              <td>3 cups</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
      <img class="img-responsive" src="https://lh3.googleusercontent.com/-noW767oVD-A/TF7lrcHvTpI/AAAAAAAAWvg/EjvuV2QiUdwNjWZvd8HA1fMaH9zBaI9bgCCo/s720/P1090788.JPG" alt="">
    </div>
  </div>
</div>
