<div class="container">
  <div class="row">
    <div class="col-lg-5 col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h2 class="section-heading">Cocktail Sauce</h2>
      <h4 class="lead"><ul>
        <li>Ketchup 1/2 cup</li>
        <li>Horseradish 1 tablespoon</li>
        <li>Worcestershire Sauce 1 teaspoon</li>
      </ul></h4>
    </div>
    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
      <img class="img-responsive" src="https://lh3.googleusercontent.com/-noW767oVD-A/TF7lrcHvTpI/AAAAAAAAWvg/EjvuV2QiUdwNjWZvd8HA1fMaH9zBaI9bgCCo/s720/P1090788.JPG" alt="">
    </div>
  </div>

</div>
