<div class="container">

  <div class="row">
    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
      <hr class="section-heading-spacer">
      <div class="clearfix"></div>
      <h2 class="section-heading">Margarita recipe</h2>
      <h4><ol>
        <li>Fill blender 1/2 ice</li><br />
        <li>Pour in 1 cup Tequila</li><br />
        <li>Pour in 1 cup Margarita Mix</li><br />
        <li>1/2 cup Triple Sec</li><br />
        <li>1 can Minute Maid Frozen Limeade</li><br />
        <li>Blend for 30 seconds</li><br />
      </ol></h4>
    </div>
    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
      <%= image_tag 'aaron_margarita.jpg', :class => "img-responsive" %><br>
    </div>
  </div>

</div>
<!-- /.container -->
