<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="#">Low Boil</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#ingredients">Boil Recipe</a>
        </li>
        <li>
          <a href="#cocktail">Cocktail Sauce</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>


<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Low Boil</h1>
          <h3>Time to Feast</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
              <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="ingredients"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Low Boil Recipe</h2>
        <p class="lead">This recipe is enough to feed 8 people. Add or Reduce quantity as needed.</p>
        <div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Ingredients</th>
                <th>Amount</th>
                <!-- <th>Cook Time</th> -->
              </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>Shrimp</td>
                      <td>5 pounds</td>
                  </tr>
                  <tr>
                    <td>Crab Legs</td>
                    <td>1 cluster per person</td>
                  </tr>
                  <tr>
                    <td>Kielbasa</td>
                    <td>5 pounds</td>
                  </tr>
                  <tr>
                    <td>Clams</td>
                    <td>5 pounds</td>
                  </tr>
                  <tr>
                    <td>Mussels</td>
                    <td>5 pounds</td>
                  </tr>
                  <tr>
                    <td>Corn</td>
                    <td>1 per person</td>
                  </tr>
                  <tr>
                    <td>Lemon</td>
                    <td>3 cut in half</td>
                  </tr>
                  <tr>
                    <td>Celery</td>
                    <td>5 sticks cut in half</td>
                  </tr>
                  <tr>
                    <td>Cayenne Pepper</td>
                    <td>1/4 cup</td>
                  </tr>
                  <tr>
                    <td>Slap Ya Mama</td>
                    <td>3 cups</td>
                  </tr>
                </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="https://lh3.googleusercontent.com/-noW767oVD-A/TF7lrcHvTpI/AAAAAAAAWvg/EjvuV2QiUdwNjWZvd8HA1fMaH9zBaI9bgCCo/s720/P1090788.JPG" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Cooking Instructions</h2>
        <h4><ol>
          <li>Fill 3/4 boil pot with water</li><br />
          <li>Put in lemon, celery, and all seasonings</li><br />
          <li>Wait for water to come to a complete boil</li><br />
          <li>Put in kielbasa, corn and potatoes</li><br />
          <li>Let cook for 15 minutes</li><br />
          <li>Put in clams and mussels</li><br />
          <li>Let cook for 15 minutes</li><br />
          <li>Put in crab legs</li><br />
          <li>Let cook for 8-10 minutes</li><br />
          <li>Put in shrimp</li><br />
          <li>Let cook 2-3 minutes</li><br />
          <li>Turn off propane tank</li><br />
          <li>Put in one full 10-pound bag of ice</li><br />
          <li>Let the food sit in the water for 25-30 minutes</li><br />
          <li>Pour food into clean cooler or on a table</li><br />
          <li>Enjoy!</li><br />
        </ol></h4>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="https://lh3.googleusercontent.com/-xiB2HzoymX4/RWoZvhMwABI/AAAAAAAAAOs/UGkfw0w_CzQ/s512-Ic42/eat30.jpg" alt=""><br />
        <img class="img-responsive" src="https://lh3.googleusercontent.com/-LV6Xcgj5QUE/SGe8p-JWkuI/AAAAAAAAIpA/6C1-lDYhRnM/s512-Ic42/MVC-792F.JPG" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->

<a  name="cocktail"></a>
<div class="content-section-c">

  <%= render "recipes/cocktail" %>
  <!-- /.container -->

</div>

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
        <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="img/phones.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <h2>Connect to Start Bootstrap:</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.banner -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>

<h1>Welcome page</h1>
