<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
  <div class="container topnav">
    <div class="navbar-header">
      <a href="#" class="navbar-brand topnav">Low Boil</a>
    </div>
    <div class="collapse navbar-collapse dropdown" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li>
          <a href="#about">About</a>
        </li> -->
        <li>
          <a href="#ingredients">Boil Recipe</a>
        </li>
        <li>
          <a href="#instructions">Cooking Instructions</a>
        </li>
        <li class="dropdown-toggle" data-toggle="dropdown">
          <a href="">Additional Recipes <span class="caret"></span></a>
        </li>
          <ul class="dropdown-menu dropdown-submenu">
            <li>
              <a href="#cocktail">Cocktail Sauce</a>
            </li>
            <li>
              <a href="#margarita">Margarita Recipe</a>
            </li>
          </ul>
      </ul>
    </div>
  </div>
</nav>
